<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
        <a class="btn btn-lg btn-primary" href="#!">Contact us</a>
    </div>
</section>
